.footer{
    background-color: #02243a;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer h1{
    color: white;
    font-size: 25px;
    font-family: 'Oswald';
    font-weight: 600;
    letter-spacing: 2px;
}
.footer p{
    color: rgba(255, 255, 255, 0.603);
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 1px;
}
.footer i{
    color: white;
    font-size: 14px;
    float: left;
    margin-right: 10px;
    margin-top: 3.5px;
}