@import url('https://fonts.googleapis.com/css2?family=Corinthia');
@import url('https://fonts.googleapis.com/css2?family=Merienda');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
  }
  .Logo{
    width: 230px;
  }
.navbar{
    background-color: rgba(255, 255, 255, 0);
    padding-top: 30px;
    position: absolute;
    width: 100%;
    transition: 0.6s;
}

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    
}
.fixed-top{
    position: fixed;
    background-color: rgba(36, 35, 35, 0.985);
    padding-top: 7px;
    height: 80px;

}
.nav-active{
  color: rgb(199, 31, 31);

}
.menu1 {
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: 0.2s ease-in-out;
    width: 35px;
    -webkit-tap-highlight-color: transparent;
  }
  .menu1 span {
    background: rgba(255, 255, 255, 0.719);
    border-radius: 2em;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    height: 4px;
    position: absolute;
    transition: 0.2s ease-in-out;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  /* ============ Menu1 ============ */
  .menu1 span {
    left: 0;
  }
  .menu1 span:nth-child(1) {
    top: 1px;
  }
  .menu1 span:nth-child(2) {
    top: 10px;
  }
  .menu1 span:nth-child(3) {
    top: 20px;
  }
  
.carticon{
width: 130px;
background-color: rgb(196, 191, 191);
padding-left: 10px;
padding-right: 20px;
border-radius: 30px;
}
.cartitem{
    width: 60px;
    display: flex;
    margin: auto;
}
.cartitem>h1{
    font-size: 17px;
    margin-top: 4px;
    margin-left: 5px;
}
.cartitem>svg{
    width: 18px;
}
.nav-link{
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.mobilenavbar{
  display: none;
}


.Orderbutton>.nav-link{
    font-weight: 600;
    font-size: 16px;
    color: white;
}
.nav-link:hover{
    color: rgb(199, 31, 31);
}
.Orderbutton{
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(199, 31, 31);
    padding-left: 20PX;
    padding-right: 20PX;
    border-radius: 30px;
    margin-left: 10px;
}
.Orderbutton>a:hover{
  color: white;
}
.ordercount{
  background-color: white;
  height: 25px;
  width: 25px;
  position: absolute;
  border-radius: 20px;
  margin-top: -45px;
  margin-left: 65px;
}
.ordercount>h1{
color: rgb(199, 31, 31);
font-size: 15px;
margin: auto;
justify-content: center;
display: flex;
margin-top: 3px;
}
.cartbox{
  position: fixed;
  background-color: rgba(73, 73, 73, 0.87);
  width: 300px;
  height: 500px;
  top: 0;
  bottom: 0;
  left:auto;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
  right:0;
  margin: auto;
  z-index: 999;
  margin-right: -300px;
  transition: 1s;
  box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.24);

}
.cartbox>h1{
  font-size: 25px;
  color: rgb(199, 31, 31);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
.cartbox-btn{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 8px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 8px;

}
.cartbox-btn>button{
  border: none;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 40px;
  font-weight: 500;
}
.orderbtn{
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
}
.clearbtn{
  background-color: rgb(180, 180, 180);
  color: rgb(7, 7, 7);
  width: 38%;
}
.closebtn{
  background-color: rgb(199, 31, 31);
  color: white;
  width: 60%;
}
.Orderbannerbutton{
    width: 250px;
    margin: auto;
    margin-top: -10px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(199, 31, 31);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.644);
    transition: 0.5s;
}
.Orderbannerbutton>a{
color: white;
}
.Orderbannerbutton:hover{
    width: 280px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.795);
}
.Orderbannerbutton>a:hover{
    text-decoration: none;
    color: rgba(202, 202, 202, 0.945);
}
.Orderbutton>a>svg{
  margin-bottom: -2px;
  margin-right: 5px;
  stroke: 4px ;
}
.Orderbutton>a>svg path{
  margin-bottom: -2px;
  margin-right: 5px;
  stroke: #ffffff;
  stroke-width: 0.7px;
}


@media (max-width: 991px) {
  .pcnavbar{
    display: none;
  }
  .Logo{
    width: 190px;
  }
  .mobilenavbar{
    width: 60%;
    display: block;
    position: fixed;
    padding-top: 130px;
    background-color: rgba(29, 29, 29, 0.979);
    height: 100%;
    z-index: 9999;
    text-align: center;
    transition: 1s;
  }
  .Orderbutton{
    width: 90%;
    margin-left: 14px;
    position: absolute;
    margin-right: 20%;
    margin-top: -50px;
}
  }
.banner{
    background-image:  url(/Assets/Banner.png); 
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 900px;
}

.BannerHead{
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 200px;
    display: grid;
}
.BannerHead>h1{
    font-family: Corinthia;
    color: rgb(255, 255, 255);
    font-size: 180px;
    font-weight: 700;
}
.BannerHead>h1>span{
    color: rgb(199, 31, 31);
}
.BannerHead>p{
    color: white;
    font-size: 27px;
    letter-spacing: 7px;
    text-align: center;
    margin-top: -70px;
}
@media (max-width: 600px) {
.BannerHead>h1{
    font-size: 100px;
}
.navbar-collapse{
    background-color: rgb(36, 36, 36);

}
.navbar-collapse>.navbar-nav{

    padding-top: 20px;
    padding-bottom: 20px;
}
.Orderbutton{
    margin-right: 10px;
}
.BannerHead>p{
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: -30px;
}
.Orderbannerbutton{
    width: 200px;
    margin: auto;
    margin-top: 5px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    background-color: rgb(199, 31, 31);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.644);
    transition: 0.5s;
}
.BannerHead{
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top:250px;
    display: grid;
}
}

.typewriter {
    font-family: sans-serif;
    color: #fff;
    padding-left: 30px;
    display: block;
  }
  .typewriter-text {
    padding-right: 10px;
    color:rgb(199, 31, 31);
    border-right: solid white 7px;
    text-transform: uppercase;
    animation: cursor 1s ease-in-out infinite;
    font-weight: bold;
  }
  @keyframes cursor {
    from { border-color: white; }
    to { border-color: transparent; }
  }
  
  @media (max-width: 767.98px) {
    .typewriter { font-size: 35px; }
  }
z

    .scrolloption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.scrolloption>p {
    margin-top: 30px;
    font-family: "Cabin", sans-serif;
    letter-spacing: 12px;
    text-indent: 12px;
    color: #ffffff;
    -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
            animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
  }
  .mouse {
    margin: 0 auto;
    opacity: 0.6;
    position: relative;
    transition: opacity 0.9s;
    width: 34px;
  }
  .mouse:hover {
    opacity: 1;
  }
  .mouse>p {
    margin-top: 10px;
    color: white;
    margin-left: -5px;
    font-size: 18px;
    font-weight: 600;
  }
  .mouse:hover .help-mouse-wheel:before,
  .mouse:hover .help-mouse-wheel:after {
    animation: indicator-up-down 1.5s infinite ease-in-out;
    height: 8px;
    opacity: 0;
  }
  .mouse:hover .help-down {
    animation: arrow-down 0.3s infinite alternate;
  }
  .help-mouse-down {
    border: 2px solid #fff;
    border-radius: 17px;
    height: 65px;
    margin: 50px auto 10px;
    position: relative;
    width: 35px;
  }
  .help-mouse-wheel {
    position: relative;
    left: 50%;
    transition: opacity 0.5s;
  }
  .help-mouse-wheel:before,
  .help-mouse-wheel:after {
    content: '';
    background: #fff;
    border-radius: 50%;
    margin-left: -2px;
    height: 4px;
    position: absolute;
    top: 5px;
    transition: top 0.5s, height 0.5s, opacity 0.5s;
    width: 4px;
  }
  .help-mouse-wheel:before {
    animation: scroll 1.5s 0.75s infinite ease-in-out;
  }
  .help-mouse-wheel:after {
    animation: scroll 1.5s infinite ease-in-out;
  }
  .help-down {
    animation: arrow-down 0.6s infinite alternate ease-in-out;
    border-bottom: 2px solid #cdcdcd;
    border-right: 2px solid #cdcdcd;
    display: block;
    height: 5px;
    margin: 0 auto;
    transform: rotate(45deg);
    transition: opacity 0.5s;
    width: 5px;
  }
  @-moz-keyframes scroll {
    0% {
      top: 5px;
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 15px;
      opacity: 0;
    }
  }
  @-webkit-keyframes scroll {
    0% {
      top: 5px;
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 15px;
      opacity: 0;
    }
  }
  @-o-keyframes scroll {
    0% {
      top: 5px;
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 15px;
      opacity: 0;
    }
  }
  @keyframes scroll {
    0% {
      top: 5px;
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 15px;
      opacity: 0;
    }
  }
  @-moz-keyframes indicator-up-down {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }
  @-webkit-keyframes indicator-up-down {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }
  @-o-keyframes indicator-up-down {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }
  @keyframes indicator-up-down {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }
  @-moz-keyframes arrow-down {
    0% {
      margin-top: 5px;
    }
    100% {
      margin-top: 15px;
    }
  }
  @-webkit-keyframes arrow-down {
    0% {
      margin-top: 5px;
    }
    100% {
      margin-top: 15px;
    }
  }
  @-o-keyframes arrow-down {
    0% {
      margin-top: 5px;
    }
    100% {
      margin-top: 15px;
    }
  }
  @keyframes arrow-down {
    0% {
      margin-top: 5px;
    }
    100% {
      margin-top: 15px;
    }
  }
  
  .Sections{
    background-color: white;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;

  }
  .text-Section>h1{
    font-family: 'Merienda', cursive;
    font-weight: 600;
    font-size: 70px;
    color:rgb(199, 31, 31);
  }
  .text-Section>h2{
    font-family:'Red Hat Text';
    font-weight: 600;
    font-size: 25px;
    color:rgb(54, 54, 54);
    letter-spacing: 0.5px;
  }
  .text-Section>p{
    font-family:'Arial';
    font-weight: 500;
    font-size: 20px;
    color:rgb(77, 77, 77);
    letter-spacing: 0.5px;
  }

  .image-Section>img{
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .image-Section>img{
      margin-top: 0px;
    }
    .text-Section{
      text-align: center;
    }
    .text-Section>h2{
      font-size: 19px;
    }
    .text-Section>p{
      font-size: 16px;
    }
  }
  .banner2{
    background-image:  url(/Assets/Banner2.png); 
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
  }
  .banner3{
    background-image:  url(/Assets/Banner3.png); 
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
  }
  .heading>h1{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    font-size: 120px;
    color:rgba(255, 255, 255, 0.938);
    text-shadow: 3px 1px 15px rgba(199, 31, 31, 0.596);
    padding-top: 180px;
  }
  .heading2>h1{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    font-size: 50px;
    color:rgba(199, 31, 31, 0.932);
    text-shadow: 3px 1px 15px rgba(59, 59, 59, 0.411);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  --primary-color: rgb(199, 31, 31);
  --secondary-color: #ffffff;
}

.tabs {
  display: flex;
  position: relative;
  background-color: rgb(199, 31, 31);
  color: white;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 5px;
  border-radius: 99px;
  width: 410px;
  height: 50px;
  margin: auto;
}
.tabs * {
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type=radio]:checked + label {
  color: var(--primary-color);
}
input[type=radio]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}

input[id=radio-1]:checked ~ .glider {
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .glider {
  transform: translateX(100%);
}

input[id=radio-3]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 40px;
  width: 200px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    width: 310px;
  }
  .glider {
    width: 150px;
  }
  .heading>h1{
    font-size: 60px;
  }
}
.Sections2{
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  justify-content: center;
  display: flex;
}
.dealbox{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.075);
  width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 27px;
}
.dealbox>.details{
  width: 100%;
  height: 500px;
  }
  .dealbox>.details>img{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    height: auto;
  }
  .dealbox>.details>h1{
  font-size: 35px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: rgb(199, 31, 31);
  padding-left: 5px;
  padding-right: 5px;
  }
  .dealbox>.details>h2{
    font-size: 16px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: -20px;
    padding-bottom: 10px;
    color: rgb(128, 128, 128);
    font-weight: 500;
    height: 60px;
}
.dealbox>.details>button{
  width: 270px;
  height: auto;
  background-color: rgb(228, 51, 51);
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 30px;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 35px;
  color: white;
  font-weight: 600;
  box-shadow: 2px 1px 15px 5px rgba(131, 15, 15, 0.178);

}

.dealbox>.details>p{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}

.saucesbox{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.075);
  width: 100%;
  height: 460px;
  margin: auto;
  margin-bottom: 27px;
}
.saucesbox>.details{
  width: 100%;
  height: 400px;
  }
  .saucesbox>.details>img{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    height: auto;
  }
  .saucesbox>.details>h1{
  font-size: 35px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: rgb(199, 31, 31);
  padding-left: 5px;
  padding-right: 5px;
  }
  .saucesbox>.details>h2{
    font-size: 16px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: -20px;
    padding-bottom: 10px;
    color: rgb(128, 128, 128);
    font-weight: 500;
}
.saucesbox>.details>button{
  width: 270px;
  height: auto;
  background-color: rgb(228, 51, 51);
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 30px;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 35px;
  color: white;
  font-weight: 600;
  box-shadow: 2px 1px 15px 5px rgba(131, 15, 15, 0.178);

}
.saucesbox>.details>p{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}
.pizzabox{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.075);
  width: 100%;
  height: 520px;
  margin: auto;
  margin-bottom: 27px;
}
.pizzabox>.details{
  width: 100%;
  height: 460px;
  }
  .pizzabox>.details>img{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    height: auto;
  }
  .pizzabox>.details>h1{
  font-size: 35px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: rgb(199, 31, 31);
  padding-left: 10px;
  padding-right: 10px;
  }
  .pizzabox>.details>h2{
    font-size: 16px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: -20px;
    padding-bottom: 10px;
    color: rgb(128, 128, 128);
    font-weight: 500;
}
.pizzabox>.details>button{
  width: 270px;
  height: auto;
  background-color: rgb(228, 51, 51);
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 30px;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 35px;
  color: white;
  font-weight: 600;
  box-shadow: 2px 1px 15px 5px rgba(131, 15, 15, 0.178);

}
.pizzabox>.details>p{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(56, 56, 56);
}

@media (max-width: 771px) {
  .dealbox{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.123);
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
  .dealbox>.details{
    width: 100%;
    height: auto;
    }
    .dealbox{
    padding-bottom: 20px;
    }
    .saucesbox{
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.123);
      width: 100%;
      height: auto;
      margin: auto;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    .saucesbox>.details{
      width: 100%;
      height: auto;
      }
      .pizzabox{
      padding-bottom: 20px;
      }
      .pizzabox{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.123);
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
      }
      .pizzabox>.details{
        width: 100%;
        height: auto;
        }
}
#carttable{
  color: white;
}
.tablehead{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.tablehead>h1{
  display: inline;
  font-size: 18px;
  float: left;
}
.tablehead>h2{
  display: inline;
  font-size: 18px;
  float: right;
  height: 30px;
}
.tablebody{
  width: 100%;
  background-color: rgba(253, 253, 253, 0.616);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
  overflow-y: scroll;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.tablebody::-webkit-scrollbar {
  background-color: rgb(253, 253, 253);
  width: 7px;
}
.tablebody::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.438);
}

.tablebody>h1{
  color: rgb(49, 49, 49);
  font-weight: bold;
  display: inline;
  font-size: 15px;
  float: left;
  width: 220px;
  padding-left: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.082);
}
.tablebody>h2{
  color: rgb(22, 22, 22);
  display: inline;
  font-size: 15px;
  width: 70px;
  float: right;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.082);
}
.tablebottom{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.tablebottom>h1{
  color: rgb(27, 27, 27);
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.747);
  font-size: 15px;
  line-height: 25px;
  height: 25px;
  width: 70%;
  float: left;
  padding-left: 20px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}
  
.tablebottom>h2{
  color: rgb(27, 27, 27);
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  width: 30%;
  float: right;
  height: 25px;
  background-color: rgba(245, 245, 245, 0.747);
  text-align: left;
  padding-left: 20px;
  margin-bottom: 4px;
}
.alertbox{
  height: 0px;
  opacity: 0;
}
.show{
  background-color: rgba(209, 20, 20, 0.795);
  color: rgb(255, 254, 254);
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height:60px;
  position: fixed;
  z-index: 9999;
  opacity: 1;
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

.callnow{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.938);
  width: 400px;
  height: 350px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  display: block;
  justify-content: center;
  border-radius: 20px;
  z-index: 99999999999;
}
.phone{
  color: rgb(199, 31, 31);
  width: 100%;
  height: 170px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.callnow>h1{
  color: rgb(199, 31, 31);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  width: 100%;
  height: 65px;
  text-align: center;
  font-size: 50px;
}
.callnow>h2{
  color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  width: 80%;
  height: 65px;
  line-height: 70px;
  text-align: center;
  background-color: red;

margin: auto;
border-radius: 50px;
}
.crosscall{
  position: fixed;
  width: 30px;
  height: 30px;
  color: rgb(184, 28, 28);
  margin-left: -40px;
  margin-top:8px;
  
}

.footer{
  background-color: rgba(0, 0, 0, 0.555);
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer h1{
  color: white;
  font-size: 25px;
  font-family: 'Arial';
  font-weight: 600;
  letter-spacing: 2px;
}
.footer p{
  color: rgba(255, 255, 255, 0.603);
  font-family:  'Nunito', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}
.footer i{
  color: white;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-top: 3.5px;
}
.cop123{
  background-color: white;
}
.copyright{
  height: auto;
  position: absolute;
}
.copyright>h1{
  font-size: 16px;
  margin-top: 10px;
}
.dev{
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dev>img{
  width: 150px;

}
.dev>h2{
  font-size: 16px;
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}


@media only screen and (max-width: 991px) {
  .callnow{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.938);
    width: 320px;
    height: 350px;

  }
  .callnow>h1{
    font-size: 35px;
  }
  .callnow>h2{
    font-size: 28px;
  }
  .copyright{
      position: inherit;
      margin-bottom: -15px;
    }
    .dev{
        float: none;
    }
    .dev>h2{
      float: none;
      margin-bottom: 0px;
    }
  .cop123{
      margin: auto;
      text-align: center;
    } 

}
